.divAlingHorizontal, .divAncho, .divAlto, .divAprobado, .divObservacion, .divDescripcionDT, .divDistorcion, .divLPI, .divArchivoFinal, 
.divDescripcion, .divOrdenDeArte, .divFechaFichaImpresion, .divNombreCliente, .divNombreVendedor, .divNombreFichaImpresion,
.divNumCaras, .divDisposicionTratamientoCorona{
    display: inline-table;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 15px;
    width: 15%;
}

.divAncho, .divAlto{
    width: 6% !important;
}

.divAprobado{
    width: 7% !important;
}

.divObservacion{
    width: 60% !important;
}

.divDescripcionDT{
    width: 30% !important;
}

.divDistorcion, .divLPI{
    width: 8% !important;
}

.divArchivoFinal{
    width: 60% !important;
}

.divDescripcion{
    width: 25% !important;
}

.divOrdenDeArte{
    width: 8% !important;
}

.divFechaFichaImpresion{
    width: 8% !important;
}

.divNombreCliente, .divNombreVendedor{
    width: 8% !important;
}

.divFichaImpresionRelacionada{
    width: 50% !important;
}

.divGridMateriaPrimaFlexografia{
    width: 80% !important;
}

.divNombreFichaImpresion{
    width: 50% !important;
}

.divDisposicionTratamientoCorona{
    width: 20% !important;
}

.divNumCaras{
    width: 10% !important;
}

.columnas, .columnaIzquierda, .columnaDerecha{
    display: inline-table;
}

.columnaIzquierda{
    width: 40%;
}

.columnaDerecha{
    width: 40%;
}

.divDatosFichaTecnica{
    width: 100%;
}